KiCad
Android Studio
Documentazione/Logo - app Android - bianco.png
Documentazione/Logo - app Android - bianco.xcf
Documentazione/Logo - app Android - nero.png
Documentazione/Logo - app Android - nero.xcf
Visual Studio